.navbar{
  height: 85px;
}
.navbar-nav {
  justify-content: space-between;
  align-items: center;
  padding: 6em;
}

.nav-link {
    color: #000000;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
  }
.nav-link:hover {
    color: #000000;
  }
.nav-item {
    position: relative;
  }
.nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #902958;
    width: 0%;
    content: "";
    height: 2px;
    transition: all 0.15s;
  }
  
  .nav-item:hover::after {
    width: 100%;
  }

  /* Sidebar */
body {
  background-color: #e1ffe7;
  overflow-x: hidden;
}

.navbar{
  box-shadow: 0 1px 1px 0 rgb(192, 192, 192)
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 480px;
  z-index: 600;
}

.sidebar-sticky {
  position: fixed;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

h6{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

.row {
  margin-top: 1px;
  margin-bottom: 1px;
}

.nav-link {
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-primary:hover {
  background-color: #902958;
  border-color: #902958;
}

.btn-primary {
  background-color: transparent;
  border-color: #902958;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  border-radius: 0;
  padding-top: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-left: 1%;
  margin-top: 20px;
  margin-right: 305px;
  
}

a {
  color: #000000;
  margin-right: 2px;
}

a:hover {
  color: #902958;
  text-decoration: none;
}

.card {
  border: 0px;
  margin-bottom: 2rem;
}

.card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 35px;
  margin-right: 35px;
}

.card-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 35px;
  margin-right: 35px;
}
